<header class="text-gray-600 body-font">
  <div
    class="
      container
      mx-auto
      flex flex-wrap
      p-5
      flex-col
      md:flex-row
      items-center
    "
  >
    <a
      class="
        flex
        title-font
        font-medium
        items-center
        text-gray-900
        mb-4
        md:mb-0
      "
    >
      <span class="text-xl" *ngIf="userInfo$ | async as userInfo"
        >Welcome<ng-container *ngIf="userInfo.name"
          >, {{ userInfo.name }}
        </ng-container>
      </span>
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    ></nav>
    <ng-container *ngIf="userState; else LoginTemplate">
      <button class="btn-primary text-base mt-4 md:mt-0" (click)="logoutUser()">
        Log out
      </button>
    </ng-container>
    <ng-template #LoginTemplate>
      <button
        class="btn-primary text-base mt-4 md:mt-0"
        (click)="doGoogleLogin()"
      >
        Google login
      </button>
    </ng-template>
  </div>
</header>
