<div class="lg:w-2/3 w-full mx-auto overflow-auto">
  <table class="table-auto w-full text-left whitespace-no-wrap">
    <thead>
      <tr>
        <th
          class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl text-center"
          *ngFor="let title of headings"
        >
          {{ title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let goal of goalsData">
        <td class="px-4 py-3 text-center">{{ goal.title }}</td>
        <td
          class="px-4 py-3 text-center"
          *ngFor="let hrs of goal.perDayData; let index = index"
        >
          <div
            *ngIf="index === currentDayIndex; else displayHoursTemplate"
            class="flex"
          >
            <span
              *ngFor="let hr of allowedHours"
              class="flex h-8 items-center justify-center rounded-full text-center text-white w-8 mr-1 cursor-pointer shadow"
              [ngClass]="hrs === hr ? 'bg-indigo-500' : 'bg-gray-300'"
              (click)="hoursClick(goal.id, hr)"
            >
              {{ hr }}
            </span>
          </div>
          <ng-template #displayHoursTemplate>
            {{ hrs }}
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
