<div class="lg:w-2/3 w-full mx-auto overflow-auto">
  <table class="table-auto w-full text-left whitespace-no-wrap">
    <thead>
      <tr>
        <th
          class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl text-center"
          *ngFor="let title of headings"
        >
          {{ title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let goal of goalsData">
        <td class="px-4 py-3 text-center">{{ goal.title }}</td>
        <td class="px-4 py-3 text-center" *ngFor="let hrs of goal.perDayData">
          {{ hrs }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
